/* --------------- CLASSES GÉNÉRIQUES --------------- */

.separator {
  height: 1px;
  width: 50%;
  margin: 1rem;
}

.logo {
  color: $red;
  font-family: "Titan One", cursive;
  letter-spacing: 0.5rem;
}
