.main-card-body {
  .box-project {
    display: grid;
    grid:
      ". btn" auto
      "img details" auto
      / 1fr 1fr;
    width: 80%;
    margin: 1rem auto;
    padding: 2rem;
    align-items: center;
    background-color: $grey;
    color: $light;
    h4 {
      text-align: center;
      color: $red;
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: 200;
    }
    img {
      grid-area: img;
      width: 100%;
      height: auto;
    }
    .separator {
      grid-area: separator;
      margin: auto;
      margin-bottom: 3rem;
    }
    &-details {
      grid-area: details;
      padding: 2rem;
    }
    &-change {
      grid-area: btn;
      text-align: end;
      i {
        font-size: 2.5rem;
        padding-right: 1rem;
      }
    }
  }
}

@include mobile {
  .main-card-body {
    .box-project {
      grid:
        "img" auto
        "details" 1fr
        "btn" auto
        / 1fr;
      &-details {
        padding: 0;
      }
    }
  }
}
