.main-card-body {
  &-table {
    display: flex;
    justify-content: center;
  }
  .card-table {
    max-width: 80%;
    .card-body-separate {
      display: flex;
    }
    thead {
      background: $grey;
      color: $light;
      tr {
        th {
          border: 1px solid $grey;
        }
      }
    }
    tbody {
      tr {
        border: 1px solid $grey;
        td {
          border: 1px solid $grey;
        }
        td:nth-child(3) {
          width: 50px;
          text-align: center;
        }
        td:last-child() {
          width: 130px;
        }
      }
    }
  }
}

@include mobile {
  .main-card-body {
    .card-table {
      margin: auto;
      .fas {
        font-size: 2rem;
      }
      thead {
        tr {
          th:nth-child(2) {
            display: none;
          }
        }
      }
      tbody {
        tr {
          td:nth-child(2) {
            display: none;
          }
          td:last-child() {
            width: 150px;
          }
        }
      }
    }
  }
}
